/* ==========================================================================
   ui
========================================================================== */
.hide {left: -10000px; top: auto; width: 1px; height: 1px; overflow: hidden; position: absolute;}

.clearfix:before,
.clearfix:after{content: "";display: table;}
.clearfix:after{clear: both;}

.required {color:#ff2a00;}

body.fixed {overflow:hidden;}

button.clear-form{width: 12px !important;height: 12px !important;padding: 0;display: none;position: absolute;right: 10px;top: 50%;border: none;background: url(../../images/ico_clear_form.png) no-repeat center center;background-size: contain;transform: translateY(-50%);}
.form-control.hasClear input{padding-right: 40px !important;}
.form-control.hasClear input:focus ~ button.clear-form,
.form-control.hasClear button.clear-form:hover,
.form-control .hasClear button.clear-form:hover{display: block;}

/* fonts */
.em {color:#349821;}
.em2 {color:#ff2a00;}

/* badge */
.badge-box{display: inline-block; font-size: 0; overflow: hidden;}
.badge-box .badge{min-height: 26px; padding: 4px 7px 4px 6px; float: left; display: inline-block; font-size: 10px; color: #fff; border: 1px solid transparent;vertical-align: middle;}
.badge-box .badge > i{font-style: normal;color: #222;}
.badge-box .badge + .badge{margin-left: -1px;}
.badge-box .type1{border-color: #3f3f3f;background-color: #3f3f3f;}
.badge-box .type2{border-color: #8828b0;background-color: #8828b0;}
.badge-box .type3{border-color: #359823;background-color: #fff;color: #359823}
.badge-box .type4{border-color: #fd3476;background-color:#fd3476; color:#fff}


/* Page Navitator style */
.pagin-nav{position: relative; display: block; text-align: center;}
.pagin-nav ul{margin: 0; padding: 70px 0 0; font-size: 0;  list-style: none;}
.pagin-nav li{display: inline-block;}
.pagin-nav li a{display: inline-block; margin: 0 5px; padding:0 5px; font-size: 1.071rem; color: #999; border-bottom: 1px solid #ddd;}
.pagin-nav li a span{display: inline-block;}
.pagin-nav li.active{position: absolute; left: 50%; top: 14px; transform: translateX(-50%);}
.pagin-nav li.active a{margin:0; padding:0; font-size: 2.786rem; color: #444; border-bottom:0;}

.pagin-nav .pagin-prev{float: left;position: absolute; right: 50%; top: 25px;}
.pagin-nav .pagin-prev a{width: 40px; height: 40px; margin: 0 20px 0 0; padding: 0; text-indent: -99999px; border-bottom:0; background: url("../../images/m/common/ico_pagin_prev.png") no-repeat center center;overflow: hidden;}
.pagin-nav .pagin-prev a:active {background-image: url("../../images/m/common/ico_pagin_prev_on.png");}
.pagin-nav .pagin-next{float: right; position: absolute; left: 50%; top: 25px;}
.pagin-nav .pagin-next a{width: 40px; height: 40px; margin: 0 0 0 20px; padding: 0; text-indent: -99999px; border-bottom:0; background: url("../../images/m/common/ico_pagin_next.png") no-repeat center center;overflow: hidden;}
.pagin-nav .pagin-next a:active {background-image: url("../../images/m/common/ico_pagin_next_on.png");}
.pagin-nav .pagin-next:after{content: "00"; position: absolute; left: 0; top: -16px; font-size: 52px; transform: translateX(-50%);}
.pagin-nav li.active ~ .pagin-next:after{content: none;}

/* forms */
.optgroup {}
.optgroup .checkbox,
.optgroup .radiobox {margin-right:10px; margin-top:6px; margin-bottom: 6px;}
.optgroup .checkbox:last-child,
.optgroup .radiobox:last-child {margin-left: 0;}

.optbox {padding-left: 1px; font-size: 0;}
.input {height: 33px; padding:6px 5px 6px 16px; font-size: 12px; border: 1px solid #ddd; background-color:#fff; transition: border-color ease-in-out .15s; -webkit-appearance: none; -webkit-box-shadow: none; box-shadow: none;}
.input:focus {border-color: #349821}
.input:required {background: url("../../images/m/common/ico_required.png") 8px 12px no-repeat; background-size: 5px 5px; }
.input.readonly {border: 0 none; border-bottom: 1px solid #444444;}

.text {padding:6px 16px;  border: 1px solid #ddd;}
.text:focus {border-color: #349821}
.text:required {background: url("../../images/m/common/ico_required.png") 8px 12px no-repeat; background-size: 5px 5px; }

.filebox {display:block; position:relative;}
.filebox .btn-fake {width: 100%}
.filebox .file {position: absolute; right: 0; top: 0; opacity: 0; width:100%; height:100%; filter: alpha(opacity=0); -ms-filter: "alpha(opacity=0)"; -khtml-opacity: 0; -moz-opacity: 0;}

.checkbox {display:inline-block; position: relative; font-size: 0; vertical-align: middle;}
.checkbox * {vertical-align: top;}
.checkbox .lbl {display:inline-block; position:relative; padding:1px 0 0 25px; font-size: 11px; min-height: 20px;}
.checkbox .lbl:before {display:inline-block; position:absolute; left:0; top:0; width:20px; height:20px; background:url('../../images/m/common/ico_checkbox.png') 0 0 no-repeat; content:''; background-size:20px 40px;}
.checkbox .check {position:absolute; left:0; top:0; z-index: -1;  opacity: 0.01; width:20px; height:20px;}
.checkbox .check:checked + .lbl:before {background-position: 0 -20px;}

.radiobox {display:inline-block; position: relative; font-size: 0; vertical-align: middle;}
.radiobox * {vertical-align: top}
.radiobox .lbl {display:inline-block; position:relative; padding:1px 0 0 25px; font-size: 11px; min-height: 20px;}
.radiobox .lbl:before {display:inline-block; position:absolute; left:0; top:0; width:20px; height:20px; background:url('../../images/m/common/ico_radiobox.png') 0 0 no-repeat; content:''; background-size:20px 40px;}
.radiobox .radio {position:absolute; left:0; top:0; z-index: -1;  opacity: 0.01; width:20px; height:20px;}
.radiobox .radio:checked + .lbl:before {background-position: 0 -20px;}
.radiobox .lbl-txt {display:inline-block; margin-left: -1px; min-width: 33px; padding:9px 5px 8px; text-align: center; border: 1px solid #ddd; font-size: 11px;}
.radiobox .radio:checked + .lbl-txt {background-color:#349821;color: #fff;}

.opt_select {position: relative; display: inline-block; height: 33px; border: 1px solid #ddd;z-index: 0;}
.opt_select:after {clear:both; content:''; position: absolute; right:9px; top:13px; width: 9px; height: 5px; background: url("../../images/m/common/bg_select_chev.png") 0 0 no-repeat; background-size: cover;}
.opt_select select {position: relative; z-index: 10; width: 100%; height: 100%; padding: 0 31px 0 16px; overflow: hidden; border: 0 none; background: transparent; color: #444; font-size: 0.857rem; -moz-appearance: none; -webkit-appearance: none;}
.opt_select select:required {background: url("../../images/m/common/ico_required.png") 8px 12px no-repeat; background-size: 5px 5px; }




/* 공통 - 그리드 */
.row {margin: 10px -5px 0}
.row:first-child {margin-top: 0;}
.row:after {display: block; clear: both; content: '';}
.col {position: relative; float:left; padding-left: 5px; padding-right: 5px;}
.col.col-12 + .col.col-12 {margin-top:15px}
.col-12 {width:100%;}
.col-11 {width:91.66666666666666%;}
.col-10 {width:83.33333333333334%;}
.col-9 {width:75%;}
.col-8 {width:66.66666666666666%;}
.col-7 {width:58.333333333333336%;}
.col-6 {width:50%;}
.col-5 {width:41.66666666666667%;}
.col-4 {width:33.33333333333333%;}
.col-3 {width:25%;}
.col-2 {width:16.666666666666664%;}
.col-1 {width:8.333333333333332%;}
.col-11-offset {margin-left:91.66666666666666%;}
.col-10-offset {margin-left:83.33333333333334%;}
.col-9-offset {margin-left:75%;}
.col-8-offset {margin-left:66.66666666666666%;}
.col-7-offset {margin-left:58.333333333333336%;}
.col-6-offset {margin-left:50%;}
.col-5-offset {margin-left:41.66666666666667%;}
.col-4-offset {margin-left:33.33333333333333%;}
.col-3-offset {margin-left:25%;}
.col-2-offset {margin-left:16.666666666666664%;}
.col-1-offset {margin-left:8.333333333333332%;}

.row-group {position: relative; margin-top: 20px;}
.row-group .btn-block {position: absolute; right:0; top:0;}

.form-control .optgroup {padding: 6px 0;}

.col.right {float:right; text-align: right;}

.form-label {display:block; width:100%; padding: 0 5px; color:#444; font-size: 12px;}
.form-label label {display: inline-block; padding: 6px 0;  font-weight: 600; font-size: 14px;}

.form-control {position: relative; }
.form-control .opt_select,
.form-control .input,
.form-control .text {width: 100%;border-radius: 0;-webkit-appearance: none;}
.form-control.sym-at {padding-left:25px}
.form-control.sym-at:after {position:absolute; left:0; top:0; min-width:15px; line-height: 33px; content:'@'}

/* 히스토리 */
.breadcrumb {position: relative; height: 65px; margin-top:-1px; text-align: center; border-top: 1px solid #cce5c7; border-bottom: 1px solid #cce5c7;}
.breadcrumb > ul {display:inline-block; position: relative; padding: 22px 0; font-size: 0;}
.breadcrumb > ul > li {display: inline-block; margin-right:12px; padding-right: 21px; font-size: 0; background:url("../../images/m/common/ico_breadcrumb_chev.png") 100% 50% no-repeat; background-size:4px 8px;}
.breadcrumb > ul > li:last-child {padding:0; margin:0; background: none;}
.breadcrumb a{display: inline-block; font-size: 13px;}
.breadcrumb a.cate-link {position: relative; padding-right:31px; }
.breadcrumb a.cate-link:after {clear:both; content:''; position: absolute; top: 0; right: 0; width:19px; height:19px; background: url("../../images/m/common/ico_breadcrumb_toggle.png") 0 0 no-repeat; background-size:38px 38px;}
.breadcrumb a.cate-link.active:after {background-position: 0 -19px;}
.breadcrumb span {padding-right: 0; font-size: 13px;}
.breadcrumb span.cate-link:after {background: none;}
.breadcrumb .current a.cate-link {color:#359823;}
.breadcrumb .current a.cate-link:after {background-position: -19px 0;}
.breadcrumb .current a.cate-link.active:after {background-position: -19px -19px;}
.breadcrumb .current span {color:#359823;}
/*.breadcrumb .cate-list {display: none; position:absolute; top:64px; left:0; right:0; z-index: 101; padding: 10px 0; text-align: left;background-color: #fff;}*/
.breadcrumb .cate-list {width: 100vw;display: none; position:absolute; top:64px; left:50%; z-index: 120; padding: 10px 0; text-align: left;background-color: #fff;transform: translateX(-50%);}
.breadcrumb .cate-list li {display:list-item; padding:10px 0;text-align: center;}
.breadcrumb .cate-list a {font-size: 12px;}
.breadcrumb .bg {display:none; position: absolute; top:64px; right:0; left:0; z-index: 100;  padding-bottom:1px; border-bottom: 1px solid #cce5c7;  background: #fff; }

/* Table styles */
.table.type-info {width: 100%; table-layout: fixed;}
.table.type-info caption {left: -10000px; top: auto; width: 1px; height: 1px; overflow: hidden; position: absolute;}
.table.type-info th,
.table.type-info td {padding: 6px 0; font-size:11px; vertical-align: top; border-bottom: 1px solid #ddd; }
.table.type-info th {padding-left:6px; text-align: left; font-weight: normal;}

.table.type-data {width: 100%; table-layout: fixed; border-top: 1px solid #ddd;}
.table.type-data caption {left: -10000px; top: auto; width: 1px; height: 1px; overflow: hidden; position: relative;}
.table.type-data th,
.table.type-data td {padding: 20px 23px; font-size:11px; vertical-align: top; border-bottom: 1px solid #ddd; }
.table.type-data th {background-color: #f7f7f7;}
 
/* Tab styles */
.tab-menu {overflow:hidden; border-top: 1px solid #606060; border-bottom: 1px solid #ddd;}
.tab-menu .menu-inner {}
.tab-menu .menu-list {position: relative; width: 100%; text-align: center; font-size:0;}
.tab-menu .menu-list li {display: inline-block; padding:0 10px;}
.tab-menu .menu-list a {display:block; font-size: 14px;}
.tab-menu .menu-list a span {display:block; padding:12px 5px; font-size: 14px; border-bottom: 3px solid transparent}
.tab-menu .menu-list a.active span {border-bottom: 3px solid #349821;}


.tab-menu.type-page li{float:left; padding:0;}
.tab-menu.type-page li img {vertical-align:middle;}
.tab-menu.type-page .menu-list.menu2 li {float:left; width:50%;}

.tab-menu-line {}
.tab-menu-line {overflow:hidden;width:100%;}
.tab-menu-line ul {}
.tab-menu-line ul li {float:left;width:33.33%; border-top:1px solid #dddddd; border-bottom:1px solid #444444; background:#fff}
.tab-menu-line ul a {display:block; padding:8px 0; border-right:1px solid #ddd;font-size:14px;text-align:center; color:#999}
.tab-menu-line ul li:first-child a {border-left: 1px solid #ddd;}
.tab-menu-line ul li:last-child a {border-right: 1px solid #ddd;}
.tab-menu-line ul .active {border-bottom:0; border-top-color:#444; border-right-color:#444; background:#fff}
.tab-menu-line ul .active a {position:relative; border-left:1px solid #444 !important; border-right:1px solid #444 !important; color:#349821}


[class^="tab-menu"].tab-2 li {width: 50%;}

.tab-panel {display: none;}
.tab-panel.active {display: block;}

/* buttons */
.btn {display: inline-block; padding:8px 10px; text-align: center; line-height: 1.3; color: #444; font-size: 12px; border: 1px solid #999; background: #fff;}
.btn.full {width:100% !important;}

.btn.sm {padding:6px 10px 5px; font-size: 12px;}
.btn.lg {padding:19px 10px; font-size: 13px;}

.btn.noline {border: 0;}

.btn.white {background-color: #fff;}
.btn.black {border-color: #000; background-color: #000;}
.btn.black .txt {color: #fff;}
.btn.green {border-color: #359823; background-color: #359823;}
.btn.green .txt {color: #fff;}
.btn.gray {background-color: #f7f7f7; border-color: #ebebeb;}
.btn.gray .txt {color: #222;}

.btn.outline-green { border-color:#349821;}
.btn.outline-green .txt{color: #349821;}

.btn.ico-chev {position: relative;}
.btn.ico-chev .txt {padding-right: 15px; background:url("../../images/m/common/ico_chev_right.png") right 50% no-repeat; background-size: 5px 9px;}

.btn.ico-toggle .txt {position: relative; padding-right: 15px;}
.btn.ico-toggle .txt:after {content:''; position:absolute; right:0; top:6px; width: 9px; height: 5px;  background:url("../../images/m/common/btn_prod_review_toggle.png") 0 0 no-repeat; background-size: 9px 10px;}
.btn.ico-toggle.active .txt:after {background-position: 0 -5px;}

.btn-box {position: relative; text-align: center; margin: 20px -5px 0}
.btn-box:after {display: block; clear:both; content:'';}
.btn-box .row {margin-left:0; margin-right:0;}

.btn-box + .btn-box {margin-top: 10px;}

.btn-box.confirm { margin: 20px 0 0; text-align: center; font-size: 0;}
.btn-box.confirm .btn {min-width: 115px; margin: 0 5px;}

.btn-box.full {margin: 30px 15px 0}

.btn.btn-write-review {border-color:transparent !important;}
.btn.btn-write-review .txt {padding-left: 15px;position: relative;background:url("../../images/m/common/ico_review_write_s.png") left 50% no-repeat; background-size: 11px 11px;}
.btn.btn-write-review .txt:after{content: "";height: 1px;position: absolute;left: 15px;right: 0;bottom: -2px;background-color: #444;}

.btn-wish {display: inline-block; width: 33px; height: 33px; background:#ffffff url("../../images/m/common/btn_wish.png") 0 -33px no-repeat; background-size: 33px 66px;}
.btn-wish.active {background-position: 0 0;}
.btn-srch {display: inline-block; width: 33px; height: 33px; background:#ffffff url("../../images/m/common/ico_search2.png") center center no-repeat; background-size: 17px 17px;}

/* 별점 */
.rate-star {display: inline-block; width:65px; height:11px; background:url("../../images/m/common/ico_star.png") 0 0 no-repeat; background-size: 65px 22px; }
.rate-star i {display: block; width:0; height: 100%; background:url("../../images/m/common/ico_star.png") 0 -11px no-repeat;  background-size: 65px 22px; }
.rate-star[data-rate="1"] i {width: 20%;}
.rate-star[data-rate="2"] i {width: 40%;}
.rate-star[data-rate="3"] i {width: 60%;}
.rate-star[data-rate="4"] i {width: 80%;}
.rate-star[data-rate="5"] i {width: 100%;}

.rate-star-big {display: inline-block; width:200px; height:24px; background:url("../../images/m/common/ico_star_big.png") 0 0 no-repeat; background-size: 200px 47px; }
.rate-star-big i {display: block; width:0; height: 100%; background:url("../../images/m/common/ico_star_big.png") 0 -24px no-repeat;  background-size: 200px 47px; }
.rate-star-big[data-rate="1"] i {width: 20%;}
.rate-star-big[data-rate="2"] i {width: 40%;}
.rate-star-big[data-rate="3"] i {width: 60%;}
.rate-star-big[data-rate="4"] i {width: 80%;}
.rate-star-big[data-rate="5"] i {width: 100%;}

.rate-star-big.type-vote {position: relative;}
.rate-star-big.type-vote .star {position: absolute; left:0; top:0; width:20%; height: 24px; }
.rate-star-big.type-vote .star {opacity: 0; filter: alpha(opacity=0); -ms-filter: "alpha(opacity=0)"; -khtml-opacity: 0; -moz-opacity: 0; }
.rate-star-big.type-vote .star:nth-child(1) {left:0;}
.rate-star-big.type-vote .star:nth-child(2) {left:20%;}
.rate-star-big.type-vote .star:nth-child(3) {left:40%;}
.rate-star-big.type-vote .star:nth-child(4) {left:60%;}
.rate-star-big.type-vote .star:nth-child(5) {left:80%;}


/*  */
.spinner {display:inline-block; position: relative; padding: 0 25px; font-size: 0; border: 1px solid #999;}
.spinner button {position: absolute; top:0; width: 25px; padding:5px; border: 0; background: none;}
.spinner .btn-minus {left: 0;}
.spinner .btn-plus {right: 0;}
.spinner input {width:40px; height: 100%; padding:5px 0; text-align: center; border:0; border-left: 1px solid #ddd; border-right: 1px solid #ddd;}

/* */
.noti-box {margin-top:15px; padding: 30px 20px; font-size: 12px; background-color: #f7f7f7;}
.noti-box .tit {padding-left: 42px; margin-bottom: 20px; line-height: 32px; color: #444; font-weight: 600; font-size: 15px; background: url("../../images/m/common/ico_noti.png") 0 0 no-repeat; background-size: 32px 32px;}
.noti-box li {margin-left: 15px; margin-top: 5px;}
.noti-box li:first-child {margin-top:0;}
.noti-box .bu {display:inline-block; width:10px; margin-left: -15px;}

/*불릿형  목록*/
.bu-list{font-size: 12px}
.bu-list li {margin-top:4px; padding-left:15px}
.bu-list li:first-child {margin-top:0;}
.bu-list li .bu {float:left; width:10px; margin-left:-10px;}

.bu-list.type-extra {}
.bu-list.type-extra li {padding-left: 20px;}
.bu-list.type-extra li .bu {margin-left:-15px;}

.note {margin-top:10px; font-size: 12px;}


/* 달력 */
.ui-widget.ui-datepicker{margin-top: 20px;padding: 20px;border: none;border-radius: 0;box-shadow: 0px 0px 10px #ccc;}
.ui-widget.ui-datepicker:before{content: "";width: 0;height: 0;margin-right: -10px;display: block;position: absolute;right: 50%;top: -12px;border: 0 solid transparent;border-width: 0 7px 11px 7px;border-color: #ccc transparent;}
.ui-widget.ui-datepicker:after{content: "";width: 0;height: 0;margin-right: -10px;display: block;position: absolute;right: 50%;top: -11px;border: 0 solid transparent;border-width: 0 7px 11px 7px;border-color: #fff transparent;}
.ui-widget.ui-datepicker .ui-datepicker-prev span{background: url(../../images/m/contents/ico_datepicker_prev.png) no-repeat center center;}
.ui-widget.ui-datepicker .ui-datepicker-next span{background: url(../../images/m/contents/ico_datepicker_next.png) no-repeat center center;}
.ui-widget.ui-datepicker .ui-state-hover{border: none;}
.ui-widget.ui-datepicker .ui-state-hover.ui-datepicker-prev-hover{left: 2px;top: 2px;}
.ui-widget.ui-datepicker .ui-state-hover.ui-datepicker-next-hover{right: 2px;top: 2px;}
.ui-widget.ui-datepicker .ui-datepicker-header{border: none;background: none;}
.ui-widget.ui-datepicker .ui-datepicker-title > *{font-size: 16px;color: #222;font-family: "Nanum Square";}
.ui-widget.ui-datepicker .ui-datepicker-calendar{}
.ui-widget.ui-datepicker .ui-datepicker-calendar th,
.ui-widget.ui-datepicker .ui-datepicker-calendar td{font-size: 13px;color: #444;font-weight: normal;text-align: center;}
.ui-widget.ui-datepicker .ui-datepicker-calendar .ui-datepicker-week-end:first-child{color: #d62929;}
.ui-widget.ui-datepicker .ui-datepicker-calendar .ui-datepicker-week-end:last-child{color: #2962d6;}
.ui-widget.ui-datepicker .ui-datepicker-calendar .ui-state-default{text-align: center;color: #444;border: none;background: none;}
.ui-widget.ui-datepicker .ui-datepicker-calendar .ui-state-default.ui-state-hover{background: #eee;}
/*달력이 위에 표시될때*/
.ui-widget.ui-datepicker.to-up{margin-top: -20px;}
.ui-widget.ui-datepicker.to-up:before{top: auto;bottom: -12px;border-width: 11px 7px 0 7px;}
.ui-widget.ui-datepicker.to-up:after{top: auto;bottom: -11px;border-width: 11px 7px 0 7px;}


/* 팝업 */
.popup { position: relative; margin: 0; padding:0 15px  !important; text-align:left; border-top: 3px solid #349821; background-color: #fff;}
.popup .pop-top {position: relative; padding:20px 0; text-align: center; border-bottom: 1px solid #222222}
.popup .pop-top h2 {font-size: 18px; font-weight: 600;}
.popup .pop-mid {padding-bottom: 50px;}
.popup .btn_close {position: absolute; right:25px; top:25px; z-index:100; width: 17px; height:17px; background: url('../../images/m/common/btn_pop_close.png') 0 0 no-repeat; background-size: cover;}

.popup .pop-alert {text-align: center;padding: 20px 15px;}

.popup.type-page {position:fixed; top:0; left:0; z-index: 2000; width:100%; height:100%; overflow-y:auto; border-left: 1px solid #ddd; background-color:#fff; -webkit-overflow-scrolling: touch;}
.popup.type-page {-webkit-transform:translateX(100%); -ms-transform:translateX(100%); -o-transform:translateX(100%); transform:translateX(100%); -webkit-transition: all 0.3s ease-in-out;  -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out;}
.popup.type-page.active {-webkit-transform:translateX(0); -ms-transform:translateX(0); -o-transform:translateX(0); transform:translateX(0);}

.popup.type-notice {z-index:1010; width: auto; max-width:100%; padding: 0 !important; border: 0 none;}
.popup.type-notice .pop-mid {padding: 0;}
.popup.type-notice .pop-mid img {max-width: 100%;}
.popup.type-notice .pop-close {overflow:hidden; padding: 12px; text-align: left; background-color: #f3f2f2;}
.popup.type-notice .pop-close .form-custom {float: left;}
.popup.type-notice .pop-close .form-custom label {font-size: 14px;}
.popup.type-notice .pop-close .btn-close {float:right; padding-right: 25px; text-decoration: none; line-height:20px; color:#000; font-size: 14px; background:url('../../images/m/contents/btn_notice_close.png') right center no-repeat; background-size: 20px 20px;}

.remodal-overlay.type-notice {z-index:1200;}
.remodal-wrapper.type-notice {z-index:1200;}

/* ==========================================================================
   Layout
========================================================================== */

/* 띠배너 */
#global-banner{position: relative; z-index:1100}
#global-banner .banner-wrap{position: relative;font-size: 0;}
#global-banner .banner-wrap a{min-height: 60px;display: block;background-repeat: no-repeat;background-position: center center; background-size:contain;}
#global-banner .banner-wrap .form-custom{position: absolute;right: 0;bottom: 10px;}
#global-banner .banner-close{position: absolute; right: 20px; top: 10px; width: 20px; height: 20px; background: url('../../images/m/contents/ico_banner_close.png') no-repeat center center; background-size: 15px 15px;}


.header {position: relative; z-index:1100; height:73px; border-bottom: 1px solid #999; background-color:#fff;}
.header h1 {text-align: center;  line-height: 0;}
.header h1 a {display:inline-block; margin: 27px 0; }
.header h1 img {height: 19px; vertical-align: top;}
.header h1.holiday a {display:inline-block; margin: 11px 0; }
.header h1.holiday img {height: 50px; vertical-align: top;}
.header .btn-search {position: absolute; left: 15px; top: 50%; width: 26px; height: 27px; padding: 0; margin-top: -13px; border: 0; background: url("../../images/m/common/sp_common.png") 0 0 no-repeat; background-size: cover;}
.header .menu {position: absolute; right: 0; top: 50%; margin-top: -14px;}
.header .btn-menu {display:block; position:absolute; right:15px; top:0; width: 28px;height: 28px;border: 0;background: url(../../images/m/common/btn_gnb_open.png) 0 0 no-repeat;background-size: cover;}
.header .btn-menu[data-cart-num]:after{content: attr(data-cart-num);width: 22px;height: 22px;font-size: 12px;color:#fff;border-radius: 22px;overflow: hidden;background-color: #000;display: block;text-align: center;line-height: 22px;position: absolute;left: 50%;top: 50%;}
.header .btn-menu[data-cart-num=""]:after{content: "0";}

.header .btn-menu .line:before,
.header .btn-menu .line:after,
.header .btn-menu .line {display: block; position:relative; width:23px; height:2px; background-color:#000; -webkit-transition: all 0.3s ease-in-out;  -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out;}
.header .btn-menu .line:before {position:absolute; top:-7px; content: '';}
.header .btn-menu .line:after {position:absolute; top:7px; content: '';}
.header .btn-menu.active {position:fixed; top:0; right:0;}
.header .btn-menu.fade .line{background-color:transparent;}
.header .btn-menu.fade .line:before{background-color:#fff; -webkit-transform: translateY(7px) rotate(45deg); -ms-transform: translateY(7px) rotate(45deg); -o-transform: translateY(7px) rotate(45deg); transform: translateY(7px) rotate(45deg);}
.header .btn-menu.fade .line:after {background-color:#fff; -webkit-transform: translateY(-7px) rotate(-45deg); -ms-transform: translateY(-7px) rotate(-45deg); -o-transform: translateY(-7px) rotate(-45deg); transform: translateY(-7px) rotate(-45deg);}

.content {min-height: 380px; padding-bottom:60px;}
#main {position: relative;}

.footer {color: #999; background-color:#3e3d3c;}
.footer .policy {text-align:center; background-color:#222;}
.footer .policy ul {padding: 1.071rem 0; margin: 0; font-size: 0;}
.footer .policy li {display: inline-block; padding:0 0.714rem; line-height:1; border-left: 1px solid #dfdfdf;}
.footer .policy li:first-child {border-left: 0}
.footer .policy a {color: #fff; font-size: 0.7857rem;}

.footer .company {padding:1.25rem; font-size: 0.7857rem;}
.footer .company p {margin-top: 1.429rem;}
.footer .company p:first-child {margin-top: 0;}
.footer .company span{display: block;}

/* aside */
.aside {position:fixed; top:0; left:0; z-index: 2000; width:100%; height:100%; overflow-y:auto; border-left: 1px solid #ddd; background-color:#fff; -webkit-overflow-scrolling: touch;}
.aside {-webkit-transform:translateX(100%); -ms-transform:translateX(100%); -o-transform:translateX(100%); transform:translateX(100%); -webkit-transition: all 0.3s ease-in-out;  -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out;}
.aside.active {-webkit-transform:translateX(0); -ms-transform:translateX(0); -o-transform:translateX(0); transform:translateX(0);}

.aside-header {position:relative; height: 73px; border-bottom: 1px solid #999;}
.aside-header .btn_close {position: absolute; right: 15px; top: 22px; width: 28px; height: 28px; border: 0; background: url("../../images/m/common/btn_gnb_close.png") 0 0 no-repeat; background-size: cover;}
.aside-header .btn_srch {position: absolute; left:  15px; top: 22px; width: 28px; height: 28px; border: 0; background: url("../../images/m/common/btn_gnb_srch.png") 0 0 no-repeat; background-size: cover;}
.aside-header .btn_mypage {position: absolute; left: 74px; top: 22px; width: 28px; height: 28px; border: 0; background: url("../../images/m/common/btn_gnb_mypage.png") 0 0 no-repeat; background-size: cover;}
.aside-header .btn_cart {position: absolute; left: 134px; top: 22px; width: 28px; height: 28px; border: 0; background: url("../../images/m/common/btn_gnb_cart.png") 0 0 no-repeat; background-size: cover;}
.aside-header .btn_cart em {position:absolute; right:-10px; bottom:-10px; width: 23px; height:23px; padding-top:4px; text-align: center; color: #fff; font-size: 12px; border-radius: 100px; background-color: #000; }

.aside-inner {padding:20px;}

.aside-tab {overflow:hidden; margin-bottom: 25px; font-size:0;}
.aside-tab a {float:left; width: 50%; padding:9px 8px; text-align: center; font-size: 14px; border:1px solid #999;}
.aside-tab .active a {color: #fff; border-color: #000; background-color:#000;}
.aside-pane {display: none;}
.aside-pane.active {display: block;}

.aside-account {height: 137px; border-bottom: 1px solid #999;}
.aside-account .user-info {float: left; width: 38%; height: 100%;}
.aside-account .user-info > a {display:block; height: 100%; padding-top: 20px; text-align: center;}
.aside-account .user-info .grade {width: 50px; height: 50px;}
.aside-account .user-info .grade-txt {color:#349821; font-weight: 600; font-size: 14px;}
.aside-account .user-info .name {margin-top: 5px; line-height:1; text-align: center; font-size: 12px;}
.aside-account .user-info .name strong {font-weight:normal; font-size: 18px;}
.aside-account .user-summary {margin-left:38%; border-left: 1px solid #ddd;}
.aside-account .user-summary li {overflow: hidden; padding: 6px 15px; border-top: 1px solid #ddd;}
.aside-account .user-summary li:first-child {border-top:0;}
.aside-account .user-summary li strong {float: left; line-height: 33px; font-weight: normal; font-size: 12px;}
.aside-account .user-summary li span {float: right; color: #999; font-size: 12px;}
.aside-account .user-summary li span em {margin:0 5px; color: #000; font-size: 22px; font-weight: 600;}
.aside-account .user-summary li a {display: block; color: #999;}
.aside-account .user-summary .summary-order {}
.aside-account .user-summary .summary-order a {padding-right:15px; background:url("../../images/m/common/ico_aside_chev.png") right center no-repeat; background-size: 8px 14px;}

.aside-pane .gnb-list {overflow: hidden; margin:0 -10px;}
.aside-pane .gnb-list > li{padding:0 10px; margin-bottom:30px;}
.aside-pane .gnb-list > li.item {float:left; width: 50%;}
.aside-pane .gnb-list a {display: block; font-size: 12px; color: #222;}
.aside-pane .gnb-list .gnb-link {margin-bottom: 10px; padding: 10px 0 1px 10px; font-size: 14px; color: #222; border-bottom: 1px solid #999999;}
.aside-pane .gnb-list .gnb-sub li {margin-top: 9px; padding-left: 10px;}
.aside-pane .gnb-list .gnb-sub li:first-child {margin-top: 0;}

/* 2017-09-04 수정 - 정진택 */
.aside .etc-list {margin-top: 20px; overflow: hidden;}
.aside .etc-list > li{position: relative; float: left;}
.aside .etc-list > li:after {content: ''; position: absolute; left:0; top:4px; width:1px; height: 9px; background-color:#333;}
.aside .etc-list > li:first-child:after {display:none}
.aside .etc-list > li:first-child a {padding-left: 10px;}
.aside .etc-list > li a {display: block; padding:0 30px;  font-size: 12px; color: #222;}

.page-title {position:relative; padding: 11px 0; margin-top:-1px; text-align: center; border-top: 1px solid #cce5c7; border-bottom: 1px solid #cce5c7;}
.page-title h2 {font-size: 0;}
.page-title h2 p {font-size: 24px}

.page-filter {overflow:hidden; border-bottom: 1px solid #ddd;}
.page-filter ul {overflow: hidden; margin:0 -1px -1px 0;}
.page-filter li {float:left; width: 33.3%; border-right: 1px solid #ddd; border-bottom: 1px solid #ddd;}
.page-filter a {display:block; padding: 10px 14px 9px; color: #444; font-size: 13px;}
.page-filter a.active {color:#fff; background-color:#000;}


.list-filter {overflow: hidden; padding: 20px 15px;}
.list-filter .btn-search {display: block; width: 100%; height: 33px; background:#222222 url("../../images/m/common/ico_search2.png") center center no-repeat; background-size: 17px 17px;}


.page-body {padding: 0 15px}

.section {margin-top: 30px;}
.section.first {margin-top:0; }
.section-title {position: relative; padding: 0 15px 15px; }
.section-title .tit {color:#444; font-size: 16px; font-weight: 600;}

.section-intro {padding:20px 0;}
.section-intro .intro-title {position: relative; padding: 0 15px 15px; }
.section-intro .intro-title .tit {text-align: center; color:#444; font-size: 20px;}
.section-intro .intro-text {margin: 0 15px 20px; padding: 20px; text-align: center; background-color: #f7f7f7;}
.section-intro .intro-text2 {margin-bottom: 20px;text-align: center; font-size: 14px;}
.section-intro .intro-text2.sns{padding: 20px 0;background-color: #f7f7f7;}

.section-cont {padding: 0 15px;}
.section-cont iframe{height: 54vw;}


.terms{border: 1px solid #777;}
.terms p{margin: 0;}
.terms ul{margin: 0;padding: 0;list-style: none;}
.terms ul li{margin-left: 8px;text-indent: -8px;}
.terms .terms-row{width: 100%;}
.terms .terms-row > div{width: 100% !important;padding: 10px 10px;border-bottom: 1px solid #777;}
.terms .terms-row > div:first-child{background-color: #eee;}
.terms .terms-row:last-child > div:last-child{border-bottom: none;}
.terms .terms-head{text-align: center;}
.terms .terms-body{}

.term-box .etc-section{text-align: left;padding: 0;}
.term-box .etc-section p,
.term-box .etc-section dd{margin: 0;}
.term-box .etc-section p,
.term-box .etc-section .list{padding: 10px 0;}
.term-box .etc-section dd p{padding: 0;text-indent: 0;}
.term-box .etc-section ul,
.term-box .etc-section ol{margin: 0;padding: 0;list-style: none;}
.term-box .etc-section li{margin: 0;}
.term-box .etc-section dl{margin: 0;}
.term-box .etc-section dt{padding: 30px 0 15px 0;font-weight: bold;font-size: 17px;}
.term-box .etc-section dd span{display: block;padding: 5px 10px;text-indent: 0;}
.term-box .etc-section dt:first-child{padding-top: 0;}
.term-box .etc-section .indent li{margin-left: 12px;text-indent: -12px;}
.term-box .etc-section .indent p{margin-left: -4px;margin-bottom: 10px;}
.term-box .etc-section .space{margin-bottom: 10px;}
.term-box .etc-section table{width: 100%;margin-top: 10px;text-indent: 0;}
.term-box .etc-section table th{padding: 14px 15px 14px;vertical-align: middle;text-align: left;border-top: 1px solid #dfdfdf;border-right: 1px solid #dfdfdf;border-bottom: 1px solid #dfdfdf;background-color: #f7f7f7;}
.term-box .etc-section table td{padding: 14px 15px 14px;vertical-align: middle;text-align: left;border-bottom: 1px solid #dfdfdf;border-right: 1px solid #dfdfdf;background-color: #fff;}
.term-box .etc-section table th:last-child,
.term-box .etc-section table td:last-child{border-right: none;}






/* ==========================================================================
   2018 리뉴얼
========================================================================== */

/* aside */
.aside-new .aside-header {}

.aside-new .aside-brand {background-color: #3f3f3f;}
.aside-new .aside-brand:after {display: block; clear: both; content: '';}
.aside-new .aside-brand li {float: left; width: 33.33333333%; text-align: center; border-left: 1px solid #dddddd;}
.aside-new .aside-brand li:first-child {border-left: 0 none;}
.aside-new .aside-brand a {display: block; height: 45px;}
.aside-new .aside-brand img {height: 45px;}

.aside-member .member-login {padding: 25px 0; text-align: center;}
.aside-member .member-login .txt {margin-bottom: 14px; line-height: 1; font-size: 14px; }
.aside-member .member-login .name {color: #00aaad;}
.aside-member .member-login .btns .btn {width: 80px}

.aside-member .member-summary {border-top: 1px solid #999999; border-bottom: 1px solid #ddd;}
.aside-member .member-summary ul {overflow: hidden;}
.aside-member .member-summary li {float: left; width: 25%; border-left: 1px solid #ddd;}
.aside-member .member-summary a {display: block; padding: 15px 0 15px 15px; height: 88px;}
.aside-member .member-summary a p {letter-spacing: -1px; font-weight: 600; font-size: 12px;}


.aside-new .aside-category {}
.aside-new .aside-category > p {position: relative; padding: 7px 15px; letter-spacing: 4px; line-height:1; font-size: 11px; color:#333; background-color: #f5f6f7;}
.aside-new .aside-category ul {margin-top: -1px; padding: 0 15px 20px; }
.aside-new .aside-category ul:after {display: block; clear: both; content: '';}
.aside-new .aside-category li {float: left; width: 25%; border-top: 1px solid #ddd;}
.aside-new .aside-category .cate-lnk {display: block;padding: 25px 0 20px 0; line-height: 1; text-align: center;}
.aside-new .aside-category .cate-lnk .image {display: block; margin-bottom: 10px;}
.aside-new .aside-category .cate-lnk .image img {max-width: 100%;}
.aside-new .aside-category .cate-lnk .txt {display: block; font-size: 12px}



.aside-new .aside-customer {padding: 24px 0; line-height: 1; text-align: center; font-size: 11px; background-color:#222;}
.aside-new .aside-customer p {color: #fff;}
.aside-new .aside-customer .tel {margin-bottom: 10px}
.aside-new .aside-customer .tel strong {margin-left: 15px; vertical-align: middle; font-size: 20px; font-weight: normal}
.aside-new .aside-customer .time {}

.aside-new .aside-pane {display: block; background-color: #f5f6f7;}
.aside-new .aside-pane .gnb-list {padding: 10px 10px 20px; margin: 0;}
.aside-new .aside-pane .gnb-list .item {margin-bottom: 10px;}
.aside-new .aside-pane .gnb-list a span {font-family: "Nanum Square", Helvetica, sans-serif;}
.aside-new .aside-pane .gnb-sub li {margin-top: 7px;}






/* ==========================================================================
   컴포넌트 재정의
========================================================================== */
.error{height: 100%;text-align: center;}
.error:before{content: "";height: 100%;margin-left: -10px;display: inline-block;vertical-align: middle;}
.error-cont{max-width: 100%;padding: 30px;display: inline-block;vertical-align: middle;}
.error-cont strong{margin-bottom: 10px;padding-left: 40px;display: inline-block;position: relative;font-size: 35px;font-weight: normal;color: #349821;}
.error-cont strong:before{content: "";width: 30px;height: 25px;display: inline-block;position: absolute;left: 0;top: 13px;background: url(../../images/m/common/ico_error.png) no-repeat center center;background-size: contain;}
.error-cont .err-box{padding: 0 0 30px;position: relative;white-space: pre-line;}
.error-cont .err-box:before{content: "";width: 1px;height: 48px;position: absolute;left: 50%;top: -48px;background-color: #000;}
.error-cont .err-box:after{content: "";width: 1px;height: 48px;position: absolute;left: 50%;bottom: -48px;background-color: #000;}
.error-cont h1{margin: 0 0 20px;display: inline-block;font-size: 15px;color: #222;}
.error-cont p{margin: 0;display: inline-block;font-size: 11px;color: #444;}
.error-cont .err-btn{padding-top: 90px;font-size: 0;}
.error-cont .err-btn a{width: 118px;margin: 0 5px;}
.error-cont .err-btn a span{padding-right: 20px;display: inline-block;}
.error-cont .btn-err1{color: #222;border-color: #999;}
.error-cont .btn-err1 span{background: url(../../images/m/common/ico_btn_blackarrow.png) no-repeat right center;}
.error-cont .btn-err2{color: #349821;border-color: #349821;}
.error-cont .btn-err2 span{background: url(../../images/m/common/ico_btn_greenarrow.png) no-repeat right center;}



/* ==========================================================================
	Media Query
========================================================================== */

@media screen and (max-width: 424px) {
	.footer .policy li{padding: 0 .5rem}
}
@media screen and (max-width: 374px) {
	.footer .policy li{padding: 0 .3rem}
}
@media screen and (max-width: 320px) {
    
    /* Tab styles */
    .tab-menu .menu-list li {display: inline-block; padding:0 5px;}
    .tab-menu .menu-list a span {display:block; padding:12px 0; font-size: 14px; border-bottom: 3px solid transparent}


    /* buttons */
    .btn {display: inline-block; padding:8px 5px; text-align: center; color: #444; font-size: 12px; border: 1px solid #999; background-color: #fff;}
    .btn.full {width:100% !important;}

}



/* ==========================================================================
로딩바
========================================================================== */

@keyframes rotate-loading {
    0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
    100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
}

@-moz-keyframes rotate-loading {
    0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
    100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
}

@-webkit-keyframes rotate-loading {
    0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
    100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
}

@-o-keyframes rotate-loading {
    0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
    100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
}

@keyframes rotate-loading {
    0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
    100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
}

@-moz-keyframes rotate-loading {
    0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
    100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
}

@-webkit-keyframes rotate-loading {
    0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
    100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
}

@-o-keyframes rotate-loading {
    0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
    100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
}

@keyframes loading-text-opacity {
    0%  {opacity: 0}
    20% {opacity: 0}
    50% {opacity: 1}
    100%{opacity: 0}
}

@-moz-keyframes loading-text-opacity {
    0%  {opacity: 0}
    20% {opacity: 0}
    50% {opacity: 1}
    100%{opacity: 0}
}

@-webkit-keyframes loading-text-opacity {
    0%  {opacity: 0}
    20% {opacity: 0}
    50% {opacity: 1}
    100%{opacity: 0}
}

@-o-keyframes loading-text-opacity {
    0%  {opacity: 0}
    20% {opacity: 0}
    50% {opacity: 1}
    100%{opacity: 0}
}
.loading {
    position: absolute;
    left: 50%;
    top: 50%; 
    width: 80px;
    height: 80px;
    margin: -40px 0 0 -40px;
    border-radius: 100%;
}


.loading-container { 
    position: fixed; 
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0; 
    z-index: 3000; 
    background-color:rgba(0,0,0,.5)
}

.loading {
    border: 2px solid transparent;
    border-color: transparent #359823 transparent #359823;
    -moz-animation: rotate-loading 1.5s linear 0s infinite normal;
    -moz-transform-origin: 50% 50%;
    -o-animation: rotate-loading 1.5s linear 0s infinite normal;
    -o-transform-origin: 50% 50%;
    -webkit-animation: rotate-loading 1.5s linear 0s infinite normal;
    -webkit-transform-origin: 50% 50%;
    animation: rotate-loading 1.5s linear 0s infinite normal;
    transform-origin: 50% 50%;
}

.loading-container:hover .loading {
    border-color: transparent #8dbc85 transparent #8dbc85;
}
.loading-container:hover .loading,
.loading-container .loading {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

#loading-img {
	z-index: 3100;
	position: absolute;
    top: 50%;
    left: 50%;
    margin: -10px 0 0 -11px;
    -moz-animation: loading-text-opacity 2s linear 0s infinite normal;
    -o-animation: loading-text-opacity 2s linear 0s infinite normal;
    -webkit-animation: loading-text-opacity 2s linear 0s infinite normal;
    animation: loading-text-opacity 2s linear 0s infinite normal;
    opacity: 0;
    
}

#loading-img img{ width: auto; }
