/* ==========================================================================
 * Single Page styles
 * ========================================================================== */
 html { min-width: auto !important; } 
 .placeholder { margin: -.2rem 0 .4rem .2rem; font-size: .4rem; color: #666; display: block; } 
 .placeholder:before { content: "*"; margin-right: .2rem; font-size: .7rem; vertical-align: -.3rem; } 
 #single { max-width: 750px; margin: 0 auto; padding-bottom: 1rem; overflow: hidden; } 
 #single #header { padding-bottom: 0.7rem; } 
 #single #logo { margin: 0 auto; padding: 1.125rem 2rem 0.625rem; font-size: 0; text-align: center; } 
 #single #logo a { margin: 0 auto; padding: 0.25rem; display: inline-block; font-size: 0; } 
 #single #logo a img { width: 100%; } 
 #single #content { } 
 #single #footer { } 
 #single .inner { max-width: 750px; margin: 0 auto; padding: 0 .75rem; } 
 #single .page-title { margin: 0 0 .475rem; padding: .45rem 0 0; font-size: 1rem; color: #000; text-align: center; } 
 p.password_comment { margin: 0; padding-bottom: 1.15rem; font-size: .6rem; text-align: center; word-break: keep-all; word-wrap: break-word; } 
 strong.password_comment { margin: 0; padding-bottom: .15rem; display: block; font-size: .8rem; font-weight: normal; text-align: center; word-break: keep-all; word-wrap: break-word; } 
 
 
 
 /* ==========================================================================
 * Login page styles (SINGLE)
 * ========================================================================== */
 .bullet_link { margin: .65rem 0 0; font-size: 0; text-.sns_simple_link aalign: center; } 
 .bullet_link a { margin: 0 .5rem 0 .65rem; padding-left: 13px; display: inline-block; font-size: .6rem; color: #444; text-decoration: none; background: url(../images/ico_bullet_link.png) no-repeat left center; background-size: .2rem; } 
 /* .sns_simple_link { margin: 1.75rem 0 0; padding-top: 1.25rem; padding-bottom: 1.25rem; position: relative; font-size: 0; text-align: center; border-top: 1px solid #444444; } */
 .sns_simple_link { margin: 1.75rem 0 0; padding-top: 1.25rem; padding-bottom: 1.25rem; position: relative; text-align: center; border-top: 1px solid #444444; } 
 .sns_simple_link strong { margin-bottom: .95rem; display: block; position: relative; font-size: .7rem; font-weight: 600; color: #444; } 
 /* .sns_simple_link a { width: 2.925rem; margin: 0 .2rem; display: inline-block; } */
 .sns_simple_link a img { width: 100%; } 
 .sns_simple_link + small { max-width: 480px; margin: .75rem auto 0; display: block; font-size: .6rem; text-align: center; color: #444; } 
 .join_info { margin-top: 1rem; padding:1.5rem 0 0; text-align: center; border-top: 1px solid #444; } 
 .join_info p { margin: 0; font-size: .6rem; } 

 .sns_btn_cont a { display:block; width:100%; position:relative; color:#454545; line-height:2.313rem; padding-left:2.313rem; } 
 .sns_btn_cont a img { width:2.313rem; position:absolute; top:0; left:9px; } 
 .sns_btn_cont a + a { margin-top:8px; } 
 .sns_btn_cont a em { font-weight:bold; } 
 .sns_btn_cont a .txt { display:block; font-size:.7rem; } 

 .sns_btn_cont a:after { content: ''; display: block; position: absolute; top: 50%; left: 3rem; width: 1px; height: 1rem; background: #ddd; transform: translate(-50%, -50%); } 
 .sns_btn_cont .sns_naver { border:1px solid #A6A6A6; } 
 .sns_btn_cont .sns_kakao { background:#F9E000; } 
 .sns_btn_cont .sns_kakao:after { background:#A6A6A6; } 
 .sns_btn_cont .sns_apple { border:1px solid #A6A6A6; } 
 
 /* ==========================================================================
 * ID/PASSWORD find page styles (SINGLE)
 * ========================================================================== */
 .find_result { margin: 1rem -.75rem 0; } 
 .find_result .find_status { margin: 0; padding: 1.25rem 0 1rem; font-size: .7rem; text-align: center; color: #444; border-top: 1px solid #999; border-bottom: 1px solid #999; } 
 .find_result .find_list { margin: 0; padding: 1.75rem 0 1.5rem; text-align: center; list-style: none; background-color: #f7f7f7; } 
 .find_result .find_list li { padding: 0 1.125rem; } 
 .find_result .find_list p { margin: 0; padding: .45rem 0 .45rem 1.875rem; font-size: .7rem; color: #444; } 
 .find_result .find_list p.text { display: inline-block; position: relative; background: url(../images/ico_find_result.png) no-repeat left center; background-size: 1.475rem; } 
 .find_result .find_list p.date { display: block; background: none; padding-left: 0; } 
 .find_result p.find_list { padding: 1.75rem 1.875rem 1.5rem; font-size: .7rem; color: #444; } 
 
 
 
 /* ==========================================================================
 * Join page styles (SINGLE)
 * ========================================================================== */
 .join_benefit { margin-bottom: 1.375rem; position: relative; text-align: center; } 
 .join_benefit > strong { padding: .1rem .6rem; display: inline-block; font-size: .7em; color: #fff; border-radius: .7rem; background-color: #107dff; } 
 .join_benefit ul { margin: 0; padding: 0; list-style: none; overflow: hidden; } 
 .join_benefit li { width: 25%; float: left; position: relative; } 
 .join_benefit li:after { content: ""; width: 100%; height: 2.75rem; position: absolute; top: 0; left: 0; } 
 .join_benefit li p { margin: 0; font-size: .5rem; text-align: center; color: #444; letter-spacing: -1px; } 
 .join_benefit .item_1 { padding-top: 2.75rem; } 
 .join_benefit .item_1:after { background: url(../images/ico_joinbenefit_1.png) no-repeat center center; background-size: 2.275rem; } 
 .join_benefit .item_2 { padding-top: 2.75rem; } 
 .join_benefit .item_2:after { background: url(../images/ico_joinbenefit_2.png) no-repeat center center; background-size: 2.2rem; } 
 .join_benefit .item_3 { padding-top: 2.75rem; } 
 .join_benefit .item_3:after { background: url(../images/ico_joinbenefit_3.png) no-repeat center center; background-size: 2.2rem; } 
 .join_benefit .item_4 { padding-top: 2.75rem; } 
 .join_benefit .item_4:after { background: url(../images/ico_joinbenefit_4.png) no-repeat center center; background-size: 2.225rem; } 
 .easy_join { width: 50%; padding: 1.5rem .5rem; float: left; text-align: center; border-top: 1px solid #e5e5e5; } 
 .easy_join .box_title { margin: 0; display: block; font-size: .9rem; font-weight: bold; color: #000; } 
 .easy_join .box_desc { margin: 1.5rem 0; font-size: .6rem; color: #000; } 
 .sns_join { width: 50%; padding: 1.5rem .5rem; float: left; position: relative; text-align: center; border-top: 1px solid #e5e5e5; } 
 .sns_join:after { content: ""; width: 1px; position: absolute; left: 0; top: 1.5rem; bottom: 1.5rem; background-color: #999; } 
 .sns_join .box_title { margin: 0; display: block; font-size: .9rem; font-weight: bold; color: #000; } 
 .sns_join .box_desc { margin: 1.5rem 0; font-size: .6rem; color: #000; } 
 .sns_join .sns_btns { display: inline-block; font-size:0; } 
 .sns_join .sns_btns a { width: 2.025rem; height: 2.025rem; margin: .25rem; display: inline-block; font-size: 0; text-decoration: none; color: #444; text-indent: -99999px; overflow: hidden; } 
 .sns_join .sns_btns .btn_sns_naver { background: url(../images/btn_snsjoin_naver.png) no-repeat left top; background-size: 2.025rem; } 
 .sns_join .sns_btns .btn_sns_facebook { background: url(../images/btn_snsjoin_facebook.png) no-repeat left top; background-size: 2.025rem; } 
 .sns_join .sns_btns .btn_sns_kakao { background: url(../images/btn_snsjoin_kakaotalk.png) no-repeat left top; background-size: 2.025rem; } 
 .sns_join .sns_btns .btn_sns_payco { background: url(../images/btn_snsjoin_payco.png) no-repeat left top; background-size: 2.025rem; } 
 .sns_join .sns_btns .btn_sns_wonder { background: url(../images/ico_simplelink_wonder.png) no-repeat left top; background-size: 2.025rem; } 
 
 .join_terms { padding: .675rem 0 0; } 
 .join_terms .form-indent { margin-bottom: .75rem; } 
 .join_terms label { font-size: .6rem; } 
 .term-label { margin: 0; min-height: 1rem; font-size: .55rem; line-height: 1rem; white-space: nowrap; } 
 .highlight { color: #ff2a00; } 
 .join_terms .check_all { text-align: center; } 
 .requirement { margin-bottom:.35rem; padding:.35rem 0 .35rem 1.15rem; display: block; font-size: .65rem; font-weight: normal; color: #444; background: url(../images/ico_requirement.png) no-repeat left center; background-size: .9rem; } 
 .requirement.requied { color: #107dff; background-image: url(../images/ico_requirement_yes.png); background-size: .9rem; } 
 .user_information { padding-top: .275rem; } 
 .user_information .form-indent { margin-left: .5rem; } 
 .user_information .inner_bg { margin: 1rem -500% 0; padding: .75rem 500%; background-color: #f7f7f7; } 
 .user_information .funnel_path { margin: .5rem 0; font-size: .6rem; color: #444; } 
 .user_information .custom-type1 { width: 30%; margin-left: 0 !important; text-align: center; font-size: .6rem; white-space: nowrap; } 
 .user_information .custom-type2 { width: 20%; text-align: center; font-size: .6rem; white-space: nowrap; } 
 .user_information .custom-type2:last-child { width: calc(20% + 3px); } 
 .user_information .custom-type1 label,
 .user_information .custom-type2 label { padding: 0 !important; } 
 .user_information .custom-type3 { margin: 0 0 -2px !important; white-space: nowrap; } 
 .user_information .custom-type4.active { position: relative; z-index: 2; } 
 .user_information .form-static > span { margin-left: .375rem; display: block; } 
 .user_information .custom-type5 { width: 58%; } 
 .user_information .custom-type6 .form-group { margin-bottom: 0 !important; } 
 .user_information .custom-type7 { width: 66.8%; } 
 .user_information .inner_terms { margin-top: 1.625rem; } 
 .user_information .inner_terms .form-indent { margin-left:.35rem; } 
 .user_information .inner_terms .highlight { color: #ff2a00; } 
 .user_information .inner_terms .check_all { text-align: center; } 
 .thanks { padding-bottom: 1.5rem; } 
 .thanks .thanks_title { padding-top: 3rem; display: block; font-size: .9rem; color: #000; text-align: center; background: url(../images/ico_thanks.png) no-repeat center top; background-size: 2.65rem; } 
 .thanks .thanks_info { margin-top: 1.475rem; padding: 1.05rem 0 1.1rem; position: relative; text-align: center; } 
 .thanks .thanks_info:before { content: ""; width: 4.2rem; height: .075rem; margin-left: -2.1rem; position: absolute; left: 50%; top: 0; background-color: #000; } 
 .thanks .thanks_info:after { content: ""; width: 4.2rem; height: .075rem; margin-left: -2.1rem; position: absolute; left: 50%; bottom: 0; background-color: #000; } 
 .thanks .thanks_info .thanks_id { margin: 0; font-size: .6rem; color: #444; } 
 .thanks .thanks_info .thanks_id span { color: #107dff; } 
 .thanks .thanks_info .thanks_grade { margin: 0; font-size: .6rem; color: #444; } 
 .thanks .thanks_gift { margin-top: 1.25rem; text-align: center; } 
 .thanks .thanks_gift ul { margin: 0; padding: 0; list-style: none; } 
 .thanks .thanks_gift li { display: inline-block; } 
 .thanks .thanks_gift li > p { margin: 0 .5rem; } 
 .thanks .thanks_gift li > p span { margin-left: .75rem; font-size: .7rem; color: #444; vertical-align: middle; } 
 .thanks .thanks_gift li:last-child > p span { margin-left: .375rem; } 
 .thanks .thanks_gift li:first-child > p img { width: .35rem; } 
 .thanks .thanks_gift li:last-child > p img { width: .675rem; } 
 .thanks .thanks_check { margin:.35rem 0 1.625rem; font-size: .6rem; color: #107dff; } 
 
 .best_product { } 
 .best_product .best_title { padding: 2.5rem 0 0; position: relative; font-size: 0; text-align: center; border-top: 1px solid #606060; } 
 .best_product .best_title img { width: 6.45rem; } 
 #single .text-left { text-align: left; } 
 
 .badge-box { display: inline-block; font-size: 0; overflow: hidden; } 
 .badge-box .badge { min-height: 26px; padding: 4px 7px; float: left; display: inline-block; font-size: 11px; color: #fff; border: 1px solid transparent; vertical-align: middle; } 
 .badge-box .badge > i { font-style: normal; color: #222; } 
 .badge-box .badge + .badge { margin-left: -1px; } 
 
 .badge-box .type1 { border-color: #107dff; background-color: #107dff; } 
 .badge-box .type2 { border-color: #fd3476; background-color: #fd3476; } 
 .badge-box .type3 { border-color: #8ad8de; background-color: #8ad8de; } 
 
.product-items ul { margin: 0; padding: 0; list-style: none; text-align: center; } 
.product-items li { display: inline-block; position: relative; overflow: hidden; width: 10rem; height: 20rem; margin: 1.5rem .35rem 0; text-align: left; font-size: 0; } 
.product-items li:hover .img-extra { display: block; } 
.product-items li:hover .item-quick { display: block; } 
/* .product-list:not(.product-best) .product-items li:nth-child(4n+1) { margin-left: 0; } */
.product-items .item-link { z-index: 10; position: absolute; left: 0; top: 0; right: 0; bottom: 0; } 

.product-items .item-show { font-size: 0; } 
.product-items .badge-box { vertical-align: top; } 

.product-items .item-img { z-index: 11; position: relative; width: 10rem; height: 10rem; border: 1px solid #ececec; } 
.product-items .item-img img { width: 100%; height: 100%; vertical-align: top; } 
.product-items .item-img .img-extra { position: absolute; left: 0; top: 0; width: 100%; height: 100%; } 
.product-items .item-img .img-extra { display: none; } 
.product-items .item-img img { width: 100%; height: 100%; vertical-align: top; } 
.product-items .item-quick { display: none; position: absolute; left: 0; bottom: 0; right: 0; background-color: rgba(0, 0, 0, .9) } 
.product-items .item-quick a { float: left; width: 50%; padding: 8px 0; text-decoration: none; text-align: center; color: #fff; font-size: 12px; border-left: 1px solid #707070; } 
.product-items .item-quick a:first-child { border-left: 0 none; } 
.product-items .item-quick a.btn-buy span { display: inline-block; overflow: visible; padding:5px 0 4px 35px; background: url('../images/w/contents/ico_prod_buy.png') left center no-repeat; } 
.product-items .item-quick a.btn-cart span { display: inline-block; overflow: visible; padding:5px 0 4px 35px; background: url('../images/w/contents/ico_prod_cart.png') left center no-repeat; } 

.product-items .item-info { padding: .5rem .5rem; text-align: left; } 
.product-items .item-origin { display: block; font-size: .65rem; color: #ccc; } 
.product-items .item-price { margin: -4px 0 0; display: block; font-size: 24px; color: #222; } 
.product-items .item-price > span { display: inline-block; color: #107dff; } 
.product-items .item-price [data-format]:after { content: attr(data-format); margin: 0 2px; display: inline-block; font-size: 14px; font-weight: normal; } 
.product-items .item-desc { margin: 0; font-size: 0; } 
.product-items .item-desc .item-detail { max-height: 2.4rem; margin: 0; font-size: 14px; color: #107dff; } 
.product-items .item-desc > strong { display: block; font-size: 14px; font-weight: normal; color: #373737; } 
.product-items .item-coupon { padding: 17px 0 0 0; } 
.product-items .item-coupon img { margin-right: 5px; } 


.product-items .soldout { } 
.product-items .soldout .item-img:after { content: ""; display: block; position: absolute; left: 0; right: 0; top: 0; bottom: 0; background: url(./images/w/contents/bg_product_soldout.png) no-repeat center 113px rgba(255, 255, 255, .8); } 
.product-items .soldout:hover .item-img:after { background-color:rgba(255, 255, 255, .8) !important; } 
 
.product-items .soldout .item-link .item-btn-box { width: 50%; display: none; /* display: inline-block; */transform: translateX(50%); } 
.product-items .soldout .item-link .item-btn-box:after { content: none; } 
.product-items .soldout .item-link .item-btn-box .item-preview { display: none; } 
.product-items .soldout .item-link .item-btn-box .item-addcart { display: none; } 
.product-items .soldout .item-info * { color: #999 !important; } 
.product-items .add_wishlist { width: 26px; height: 26px; position: absolute; right: 10px; top: 10px; border: 1px solid #cbcbcb; background: url(../../images/w/contents/ico_addwish_off.png) no-repeat center center; outline: none; z-index: 1; } 
.product-items .add_wishlist.active { background-image: url(../../images/w/contents/ico_addwish_on.png); } 
.product-items .form-custom { position: absolute; left: 0; top: -35px; } 
.product-items .form-custom input[type="checkbox"],
.product-items .form-custom input[type="radio"],
.product-items .form-custom label:before,
.product-items .form-custom label:after { width: 20px; height: 20px; background-size: contain; } 
 
 
.suspended-account { margin: 0; margin-bottom: 1rem; display: block; font-size: .8rem; font-weight: normal; text-align: center; word-break: keep-all; word-wrap: break-word; } 
.suspended-desc { margin: 0 -0.75rem; padding: 1rem 0; font-size: .6rem; text-align: center; word-break: keep-all; word-wrap: break-word; background-color: #f7f7f7; } 
.suspended-terms { } 
.suspended-terms .term-title { padding: 1.724rem 0 0.8621rem 1rem; margin: 0; min-height: 1rem; font-size: .55rem; line-height: 1; white-space: nowrap; border-bottom: 1px solid #b2b2b2; } 
.suspended-terms .term-title a { color: #ff2a00; } 
.suspended-terms .term-content { overflow-y: scroll; height: 12.41rem; padding: 1rem .8rem; font-size: .5rem; border-bottom: 1px solid #b2b2b2; } 
.suspended-button { text-align: center; margin-top: 1.552rem; } 

 
 /* ==========================================================================
 * Popup style
 * ========================================================================== */
 /*DEFAULT*/
 .remodal.popup { max-width: 430px; padding: 0; text-align:center; border-top: 5px solid #349923; background: #fff; z-index: 100; } 
 .remodal.popup[data-remodal-type="580"] { max-width: 580px; } 
 .remodal.popup[data-remodal-type="620"] { max-width: 620px; } 
 .remodal.popup[data-remodal-type="860"] { max-width: 860px; } 
 .remodal.popup[data-remodal-type="1160"] { max-width: 1160px; } 
 .remodal.popup.type-blue { border-top: 5px solid #273af0; } 
 .popup .ico_pop_close { padding: 10px; position: absolute; top: 10px; right: 10px; z-index: 1; } 
 .popup .pop-top { margin: 35px 40px 0; padding-bottom: 25px; position: relative; border-bottom: 1px solid #999; } 
 .popup .pop-top h2 { margin: 0; font-size: 22px; } 
 .popup .pop-top.type2 { margin: 28px 40px 0; padding: 0; border: none; } 
 .popup .pop-top.type2 h2 { font-weight: normal; font-size: 30px; } 
 .popup .pop-top.type3 h2 { font-size: 30px; font-weight: normal; line-height: 1.2; } 
 .popup .pop-top.no-border { border-bottom: none; } 
 .popup .pop-mid { padding: 50px 40px 40px; font-size: 14px; } 
 .popup .pop-mid p { margin: 0; word-break: keep-all; word-wrap: break-word; } 
 .popup .pop-mid strong { display: block; } 
 .popup .pop-text-list { margin: 0; padding: 0; text-align: left; list-style: none; } 
 .popup .pop-text-list p { margin: 0; } 
 .popup .pop-btn-wrap { padding: 0 40px 40px; font-size: 0; } 
 .popup .pop-btn-wrap .btn-pc { margin: 0 5px; } 

 .join_benefit .item_1.full_st { width:100%; padding-top:1rem; padding-left: 2rem; } 
 .join_benefit .item_1.full_st p { font-size:0.7rem; } 
 .join_benefit .item_1.full_st:after { content: ""; width: 100%; height: 2.75rem; position: absolute; background-position: center 100%; top: 0; left: 0; margin-left: -3rem; } 